h5 {
    text-align: center;
    font-size: 13px;
}

p {
    font-size: 13px;
    margin-bottom: 10px;
    /*默认16*/
}

@font-face {
    font-family: 华文中宋;
    src: url(../font/STZHONGS.TTF);
}

@font-face {
    font-family: 思源黑体N;
    src: url(../font/SourceHanSansCN-Normal.otf);
}


.intro-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
    overflow: hidden;

    /* animation: pop-out-fade-in 0.2s ease-out; */
    /*animation-delay: 0.5s;*/
    /* animation-fill-mode: both; */
    /*animation-delay: 0.5s;*/

    z-index: 9999;

    backdrop-filter: blur(20px);
    display: block;

    animation: pop-out-fade-in 1s ease-out;
    /*animation-delay: 0.5s;*/
    animation-fill-mode: both;

    
}

#intro-img {
    position: absolute;
    left: 10%;
    top: 15%;
    height: 70%;
    width: 35%;
    background-image: url('../image/文都.jpg');
    background-size: 100% 100%;
    opacity: 0.8;
}

#intro-text {
    position: absolute;
    left: 53%;
    top: 43%;
    height: 70%;
    width: 38%;
    text-indent: 2em;
    font-family: 思源黑体N;
}

#intro-title1 {
    /* text-align: center; */
    position: absolute;
    top: 7%;
    left: 53%;
    font-family: 华文中宋;
    font-size: 76px;
    font-weight:lighter;
    /* margin-left: 1%; */
}

#intro-title2 {
    /* text-align: center; */
    position: absolute;
    top: 19%;
    left: 53%;
    font-family: 华文中宋;
    font-size: 82px;
    font-weight: bolder;
    /* margin-left: 1%; */
}

#intro-btn {
    position: absolute;
    top: 5%;
    right: 4%;
    width: 7%;
    height: 7%;
    font-size: 16px;
    background-color: #e7e7e7;
}



#title {
    font-family: 华文中宋;
    font-size: 26px;
    margin-left: 1%;
}

.navbar-brand {
    position: fixed
}

.test {
    position: absolute;
    right: 5%;
}

.button {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}


/* 定义一个类名为navbar-blur的样式，用于设置导航栏的背景色、透明度、高斯模糊等属性 */
.navbar-blur {
    background-color: rgba(255, 255, 255, 0.3);
    /* 使用backdrop-filter属性来实现高斯模糊效果，注意这个属性可能不被所有浏览器支持 */
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
}

/* 定义一个类名为nav-link-blur的样式，用于设置导航栏中的链接的字体颜色 */
.nav-link-blur {
    color: rgb(0, 0, 0);
}

.nav-item {
    margin: 0 5px;
}

/* 定义一个伪类选择器，用于设置鼠标悬停在链接上时的文字颜色和抖动效果 */
.nav-link-blur:hover {
    /* 使用百分比来指定每个关键帧的位置和变换 */
    /* 使用transform-origin属性来指定变换的原点为底部中心 */
    transform-origin: bottom center;
    /* 使用animation-fill-mode属性来指定动画结束后保持最后一帧的状态 */
    animation-fill-mode: forwards;
    /* 使用animation-iteration-count属性来指定动画只执行一次 */
    animation-iteration-count: 1;
    /* 使用color属性来改变文字颜色 */
    color: #333;
    /* 使用animation属性来指定动画名称、持续时间、缓动函数等 */
    animation: shake 0.3s ease;
}

/* 定义一个伪元素选择器，用于在选中的链接下方添加一条横线 */
.active::after {
    content: "";
    display: block;
    width: calc(100% - (2 * (20px)));
    height: 2px;
    background-color: rgb(134, 0, 123);
    margin-left: auto;
    margin-right: auto;
}

/* 定义一个@keyframes规则，用于描述抖动动画的关键帧 */
@keyframes shake {

    /* 使用translateY函数来实现向上抖动一次 */
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3px);
    }
}



.nav-link {
    color: gray
}

.nav {
    --bs-nav-link-color: #535353;
    --bs-nav-link-hover-color: #4c4c4c;
}