/*mapbox gl css custom settings*/
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}


@font-face {
    font-family: 思源黑体;
    src: url(../font/SourceHanSansCN-Light.otf);
}



@keyframes float-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes float-up-fade-in {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pop-out-fade-in {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes shrink-fade-out {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;
    }
}

.map-overlay {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);

    animation: pop-out-fade-in 0.2s ease-out;
    /*animation-delay: 0.5s;*/
    animation-fill-mode: both;

    backdrop-filter: blur(10px);

    display: none;
}
.btn-district{
    position: left;

    width: 10%;
    left: 27px;
    background: rgba(255, 255, 255, 0.5);

    margin-right: 80px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
    backdrop-filter: blur(10px);

    padding: 13px;

    border-radius: 5px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: none;
}
.container-class1 {
    width: 1000px; /* 设置容器的宽度 */
    height: 500px; /* 设置容器的高度 */
  }
.info {
    position: absolute;
    top: 13%;
    height: 45%;
    width: 23%;
    right: 2%;

    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;

    padding: 18px;
    padding-top: 15px;
    /* 添加这一行 */
    /*
    animation: float-up 1s ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: both;*/

    /*
    animation: float-up-fade-in 0.3s ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: both;*/
}

.place-name {
    text-align: center;
    /*font-family: 思源黑体;*/
    font-weight: bold;
    font-size: 17px;
    color: #333;
    /*background-image: linear-gradient(to right, #f8f9fa, #e5e8ec, #f8f9fa);*/
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(230, 230, 230, 1), rgba(255, 255, 255, 0));
    padding: 10px;
    /*渐变区域宽度*/
    border-radius: 3px;
    margin-bottom: 10px;
}

.subtitle {
    padding-top: 12px;
    font-size: 14px;
}


.icon {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 0;
    /* 修改这一行 */
    /*background-color: #363636;*/
    background-color: rgb(134, 0, 123);
    font-size: 14px;
    /* 修改这一行 */
    text-align: center;
    line-height: 20px;
}

#navigation {
    position: absolute;
    bottom: 6%;
}

#photo {
    position: absolute;
    top: 61%;
    height: 33%;
    width: 23%;
    right: 2%;
    /* background: #fff; */

    /* 让背景半透明 */
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;

    padding: 15px;
}

#img {
    height: 100%;
    width: 100%;
    right: 20px;
    background-image: none;
    background-size: 100% 100%;
}

.type {
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: aliceblue;
    background-color: rgb(134, 0, 123);
}

/*
#place-name {
    text-align: center;
    font-weight: bold;
    color: #333;
}

#place-writers,
#place-works,
#place-history {
    font-size: 14px;
    color: #666;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}
*/



/* 定义一个关闭按钮，放在div标签的右上角 */

.close-button {
    position: fixed;
    right: 0px;
    width: 40px;
    /* 增加宽度 */
    height: 40px;
    /* 增加高度 */
    border-radius: 50%;
    /* 增加字体大小 */
    font-size: 25px;
    /* 增加字体大小 */
    font-weight: lighter;
    /* 减小字体粗细 */
    cursor: pointer;
}

.purple-btn {
    border-color: rgb(134, 0, 123);
    font-size: 13px;
    /* 设置边框颜色为紫色 */
    color: rgb(134, 0, 123);
    outline: none !important;
    /* 去掉点击时的蓝色轮廓 */
    box-shadow: none !important;
    /* 去掉点击时的阴影 */
}

.purple-btn:hover {
    background-color: rgb(134, 0, 123);
    /* 设置鼠标悬停时的背景颜色为紫色 */
    color: white;
    /* 设置鼠标悬停时的文字颜色为白色 */
}

.purple-btn:active {
    background-color: rgb(134, 0, 123) !important;
    /* 设置点击时的背景颜色为紫色 */
    border-color: rgb(134, 0, 123) !important;
    /* 设置点击时的边框颜色为紫色 */
    box-shadow: none !important;
    /* 去掉点击时的阴影 */
}


.list-group {
    position: absolute;
    bottom: 24%;
    /*border: 1px solid rgb(124, 124, 124);*/
    /* 让按钮组在元素中水平居中 */
    font-size: 0.8rem;
    /* 设置按钮的字体大小为0.8rem */
    left: 50%;
    /* 设置按钮组的左边距为50% */
    transform: translateX(-50%);
    /* 使用transform属性平移按钮组，使其居中 */
}

.list-group-item {
    text-align: center;
    border: 1px solid rgb(161, 161, 161);
    color: rgb(68, 68, 68);
    /* 添加灰色边框 */
    text-decoration: none;
    /* 去掉文字装饰 */
    padding: 3px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

.list-group-item.active {
    background-color: purple;
    /* 设置激活状态的背景颜色为紫色 */
    color: white;
    /* 设置激活状态的文字颜色为白色 */
    text-decoration: none;
    /* 去掉激活状态的文字装饰 */
}

.list-group-item.active:hover {
    background-color: purple;
    /* 设置激活状态的背景颜色为紫色 */
    color: white;
    text-decoration: none;
    /* 去掉激活状态的文字装饰 */
}


.list-group-item:hover {
    background-color: #e9ecef;
    text-decoration: none;
    /* 设置鼠标悬停时的背景颜色为浅灰色 */
}

hr {
    text-align: center;
    position: absolute;
    bottom: 37%;
    width: 70%;
    left: 50%;
    /* 设置分割线的左边距为50% */
    transform: translateX(-50%);
    /* 使用transform属性平移分割线，使其居中 */
}

/*
#photo {
    position: absolute;
    top: 80px;
    height: 50%;
    width: 80%;
    right: 20px;
    background-image: none;
    background-size: 100% 100%;
}*/

#timeline {
    height: 15%;
    position: absolute;
    bottom: 0%;
    left: 20%;
    right: 20%;
}


.legend {
    position: absolute;
    bottom: 4%;
    height: 38%;
    width: 10%;
    left: 27px;
    background: rgba(255, 255, 255, 0.5);

    margin-right: 20px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
    backdrop-filter: blur(10px);

    padding: 13px;

    border-radius: 5px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

    display: none;
}

.legend-item {
    margin-left: 4px;
    /*margin-top: -6px;*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.legend-key {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.legend-item-inactive {
    opacity: .3;
    -ms-filter: "alpha(opacity=30)";
    filter: alpha(opacity=30);
}

.legend-item-active {
    -ms-filter: "alpha(opacity=30)";
    filter: alpha(opacity=30);
}


#showHeatmap {
    position: absolute;
    top: 13%;
}

#showHeatmapSwitch {
    display: none;
}

/* 使用display属性来指定容器使用flexbox布局 */
.container {
    display: flex;
}

/* 使用justify-content属性来指定容器中的项目在水平方向上居中对齐 */
.container {
    justify-content: center;
}

.mapboxgl-popup-content {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
}
