/* 设置侧边栏的宽度 */
#sidebar {
    width: 250px;
}

/* 设置侧边栏的背景颜色 */
#sidebar .bg-light {
    background-color: #f0f0f0;
}

/* 设置侧边栏的标题样式 */
#sidebar .navbar-brand {
    font-weight: bold;
    font-size: 24px;
    color: #333333;
}

/* 设置侧边栏的链接样式 */
#sidebar .nav-link {
    color: #333333;
    font-size: 18px;
}

/* 设置侧边栏的链接激活样式 */
#sidebar .nav-link.active {
    background-color: #cccccc;
    color: #ffffff;
}



#open {
    position: absolute;
    top: 12%;
    left: 2%;
    width: 7%;
    height: 7%;
    font-size: 16px;
    background-color: #e7e7e7;
}


.offcanvas.offcanvas-start {
    position: absolute;
    /* adjust this value as needed */
    top: 10%;
    bottom: 3%;
    border: 0;
    /* adjust this value as needed */

    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);

    backdrop-filter: blur(10px);

}

.card {
    border: 0;
    margin: 20px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
    
}

#card1 {
    background: linear-gradient(140.53deg, #fcf0bb 9.32%, #ffc54896 58.45%)
}

#card2 {
    background: linear-gradient(140.53deg, #e7e7e7 9.32%, #b8b8b885 58.45%)
}

#card3 {
    background: linear-gradient(140.53deg, #f8b28042 9.32%, #d4570a67 58.45%)
}

.offcanvas-btn {
    position: absolute;
    top: 25px;
    right: 7px;
}

.rank {
    height: 60px;
    width: 85%;
    right: -10%
}

.img-rank {
    height: 100%;
    width: 100%;
    right: 20px;
    background-image: none;
    background-size: 100% 100%;
}

.rank-row {
    height: 100%;
    height: inherit;
}

.rank-text {
    /*text-align: center;
    /*font-family: 思源黑体;*/
    font-weight: bold;
    font-size: 17px;
    color: #333;
    /*padding: 0*/
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0px solid black;
    color: #313131;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
}

#first {
    background: linear-gradient(140.53deg, #fcf0bb 9.32%, #ffc54896 58.45%);
}

#second {
    background: linear-gradient(140.53deg, #e7e7e7 9.32%, #b8b8b885 58.45%)
}

#third {
    background: linear-gradient(140.53deg, #f8b28042 9.32%, #d4570a67 58.45%)
}

.title-text {
    text-align: center;
    /*font-family: 思源黑体;*/
    font-weight: bold;
    font-size: 20px;
    color: #333;
    padding-left: 0;
}

.rank-mark {
    /*font-family: 思源黑体;*/
    font-weight: normal;
    font-size: 20px;
    color: #e79e00; 
    padding: 4px;
}